@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
@model SchoolManagementApp.MVC.Models.LoginView

<form  p-action="Login" method="post">
    <div>
        <label>Username</label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit">Login</button>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <p style="color:red">Invalid login attempt.</p>
}

<a asp-action="Register" asp-controller="Account">Register</a> 
