@{
    ViewData["Title"] = "Create New Course";
}
@model Course

@if (User.IsInRole("Admin"))
{
<div class="container mt-5">
    <h2>Edit Course</h2>

    <form asp-action="Edit" class="mt-4">
        <input type="hidden" asp-for="Code" />
        <div class="form-group mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        
        <div class="form-group mb-3">
            <label asp-for="Code" class="form-label"></label>
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Credit" class="form-label"></label>
            <input asp-for="Credit" class="form-control" />
            <span asp-validation-for="Credit" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LecturerId" class="control-label col-md-2">Lecturer</label>
            <div class="col-md-10">
                <select asp-for="LecturerId" class="form-control" asp-items="ViewBag.Lecturer">
                    <option value="">-- Select Lecturer --</option>
                </select>
                <span asp-validation-for="LecturerId" class="text-danger"></span>
            </div>
    </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="CourseList" asp-controller="Course" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>
}